[Unit]
Description=Kafka Backend
After=zookeeper.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill kafka
ExecStartPre=-/usr/bin/docker rm kafka
ExecStartPre=/usr/bin/docker pull 7imbrook/kafka-docker
ExecStart=/usr/bin/docker run -ti --name kafka -e CONSUL_URL=$COREOS_PUBLIC_IPV4 -v /var/run/docker.sock:/var/run/docker.sock -p 9092 7imbrook/kafka-docker

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=size=LG
